 
@import '../assets/css/variables';

.dropdown {
	position: absolute;
	top: 50px;
	right: 0;
	min-width: 360px;
	border-radius: 0 0 25px 25px;
	background-color: white;
	box-shadow: $shadowBig;
	transition: top 200ms, height 200ms;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

// Responsive //

@media screen and (max-width: $mediaqueryM) {
	.dropdown {
		top: 46px;
	}
}

@media screen and (max-width: $mediaqueryS) {
	.dropdown {
    position: fixed;
		top: 100px;
		min-width: auto;
		width: 100%;
		max-height: calc(100% - 100px);
		z-index: -1;
	}
}
