@import '../assets/css/variables';

.table {
	width: 100%;
	text-align: left;
}
.table_minWidth {
	min-width: 800px;
}

.table th, .table td {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #E0E0E0;
}
.table th svg {
    height: 16px;
    margin-left: 4px;
    font-size: 12px;
}

// Responsive //

@media screen and (max-width: $mediaqueryS) {
  .table.table_mobileCards {
		border: 0;
		
		caption {
    	font-size: 1.3em;
  	}
  
		thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		
		tr {
			border: 1px solid $colorLine;
			margin-right: -1px;
			border-radius: 20px;
			display: block;
			margin-bottom: 1.2rem;
		}
		
		td {
			border-bottom: 1px solid #ddd;
			display: block;
			font-size: .8em;
			text-align: right;
		}
		
		td::before {
			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		td:last-child {
			border-bottom: 0;
		}
	}
}
