@import '../assets/css/variables.scss';

.logo {
  height: 36px;
	margin: 10px 0;
	
	img {
		height: 100%;
	}
}

// Responsive //

@media (max-width: $mediaqueryS) {
	.logo_header {
		height: 46px;
    margin: 0;
    padding: 6px 0;
	}
}
