@import '../assets/css/variables';

.profileBackground {
  height: 45vh;
	background-color: $colorBkgGrey;
	background-size: cover;
	background-repeat: inherit;
}
.profileBackground.profileBackground_freeHeight {
	height: auto;
	line-height: 0;
	background-color: transparent;
}

// Responsive //

@media screen and (max-width: $mediaqueryM) {
  .profileBackground {
    min-height: 300px;
	}
	.profileBackground.profileBackground_freeHeight {
		min-height: auto;
	}
}
